@charset "UTF-8";

body {
    background: #fffbec;
}

table {
    border-collapse: collapse;
}

th {
    background: #edddc5;
    padding: 8px;
    border-bottom: 1px solid #000000;
}

td {
    padding: 8px;
    border-bottom: 1px solid #000000;
}

tr {
    background: #fffbec;
}

table.balance {
    width: 100%;
}

table.balance th:nth-child(1) {
    width: 5%;
}

table.balance th:nth-child(2) {
    width: 5%;
}

table.balance th:nth-child(3) {
    width: 25%;
}

table.balance th:nth-child(4),
table.balance th:nth-child(5),
table.balance th:nth-child(6) {
    width: 15%;
}

table tr:hover {
    cursor: default;
    background: #fce7db;
}