@charset "UTF-8";

input[type="checkbox"] {
    transform: scale(2);
}

/* header start */

header {
    background-color: var(--color-primary);
    display: flex;
}

header h1 {
    margin: 20px 0 0 20px;
}

header nav {
    margin: 0 0 0 auto;
}

header nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}

header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
}

header nav ul li a:hover {
    color: #888888;
}

/* header end */

/* flex start */

.box {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.item {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 5px;
    background-color: var(--color-primary);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.item img {
    padding: 25px;
    width: 75px;
}

.item:hover {
    background-color: var(--color-primary-sub);
}

/* flex end */

body {
    background: var(--color-base);
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 0 5%;
}

th {
    background: var(--color-base);
    padding: 8px;
    border-bottom: 1px solid #000000;
}

td {
    padding: 8px;
    border-bottom: 1px solid #000000;
}

tr {
    background: var(--color-base);
}

table.balance {
    width: 90%;
}

table.balance th:nth-child(3) {
    width: 200px;
}

table tr:hover {
    cursor: default;
    background: #fce7db;
}

table td {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;
}