name: url test

on:
  workflow_dispatch:

jobs:
  docker-compose:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker compose -f compose_test.yaml up -d --wait
      - run: docker compose -f compose_test.yaml exec -T tamako ls storage/framework/sessions/
      - run: docker compose -f compose_test.yaml exec -T tamako php /app/main.php
