name: url test

on:
  workflow_dispatch:

jobs:
  docker-compose:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker compose -f compose_test.yaml up -d --wait
      - run: chmod -R 777 ./haruhi/storage
      - run: docker compose -f compose_test.yaml exec -T haruhi ls -al /var/www/html/storage
      - run: docker compose -f compose_test.yaml exec -T haruhi chmod -R 777 /var/www/html/storage
      - run: docker compose -f compose_test.yaml exec -T haruhi chown -R www-data:www-data /var/www/html/storage
      - run: docker compose -f compose_test.yaml exec -T haruhi touch /var/www/html/storage/framework/sessions/test
      - run: docker compose -f compose_test.yaml exec -T haruhi ls -al /var/www/html/storage
      - run: docker compose -f compose_test.yaml exec -T tamako php /app/main.php
      - run: docker compose -f compose_test.yaml exec -T haruhi ls -al /var/www/html/storage/framework/sessions
      - run: docker compose -f compose_test.yaml exec -T haruhi ls /var/www/html/storage/framework/sessions/
      - run: docker compose -f compose_test.yaml exec -T haruhi php -r "\$result = file_put_contents('/var/www/html/storage/framework/sessions/test2', 'hello'); var_dump(\$result); var_dump(error_get_last());"
      - run: docker compose -f compose_test.yaml exec -T haruhi php -r "echo posix_getpwuid(posix_geteuid())['name'];"
      - run: docker compose -f compose_test.yaml exec -T haruhi php -i | grep open_basedir
